html{background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: white;
    padding-left: 1%;
    padding-right: 1%;}

span{font-size: 16px;
    letter-spacing: -.015vw;
    line-height: 110%;
    text-decoration: none;
  font-weight: 500;
  font-kerning: auto;
  
}


p{font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 110%;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 20px;
    font-kerning: auto;
}

a{color: white;
    text-decoration: none;
}

a:hover {
    color: #FE3503;}

a:active {
        color: #c4c4c4;}